### Logistic Regression Task

##### 사람의 체온과 습도를 통한 스트레스 예측

- Humidity: 스트레스를 느낄 때, 여러분의 체온이 상승하여 땀샘이 활성화됩니다. 이 땀은 습도 수준으로 여겨집니다.
- Temperature: 스트레스를 받는 동안 사람의 체온입니다.
- Stepcount: 스트레스를 받는 상황에서 당사자가 적용하는 스텝 수입니다.
- Stress_Level: 위의 세 가지 요인에 기초하여 스트레스 수준을 높음, 중간 및 낮음으로 예측합니다.

In [1]:
import pandas as pd

stress_df = pd.read_csv('./datasets/stress.csv')
stress_df

      Humidity  Temperature  Step_count  Stress_Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]

In [4]:
stress_df.isna().sum()
stress_df.duplicated().sum()

0

In [6]:
stress_df.info()
stress_df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Humidity      2001 non-null   float64
 1   Temperature   2001 non-null   float64
 2   Step_count    2001 non-null   int64
 3   Stress_Level  2001 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 62.7 KB

               count        mean        std   min   25%    50%    75%    max
Humidity      2001.0   20.000000   5.777833  10.0  15.0   20.0   25.0   30.0
Temperature   2001.0   89.000000   5.777833  79.0  84.0   89.0   94.0   99.0
Step_count    2001.0  100.141429  58.182948   0.0  50.0  101.0  150.0  200.0
Stress_Level  2001.0    1.104448   0.771094   0.0   0.0    1.0    2.0    2.0